name: E2E test workflow
on:
  workflow_call:

jobs:
  e2e:
    name: E2E Tests
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 16.x
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
      - uses: actions/cache@v2
        with:
          path: "node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('yarn.lock') }}
      - name: Install dependencies
        run: yarn
        env:
          PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1
      - name: Install browser(s)
        run: yarn playwright install --with-deps chromium
      - name: Download artifacts
        uses: actions/download-artifact@v2
        with:
          path: .
      - name: Test
        run: npx playwright test
        env:
          DEBUG: pw:browser*